.button {
    padding: 20px 25px;
    margin: 0 20px;
    position: relative;
    top: 0;
    display: flex;
    gap: 8px;
    border: 1px solid #387796;
    background: #51a3b8;
    font-size: 20px;
    color: white;
    border-radius: 7px;
    box-shadow: 3px 3px #387796;
    transition: all 200ms linear;
    cursor: pointer;
}

.button__good:hover,
.button__good:focus{
    background: white;
    color: green;
    box-shadow: 3px 3px darkgreen;
    border: 1px solid darkgreen;
}

.button__neutral:hover,
.button__neutral:focus{
    background: white;
    color: goldenrod;
    box-shadow: 3px 3px darkgoldenrod;
    border: 1px solid darkgoldenrod;
}

.button__bad:hover,
.button__bad:focus{
    background: white;
    color: #B70000;
    box-shadow: 3px 3px #800000;
    border: 1px solid #800000;
}



.button:active {
    top: 3px;
    box-shadow: 0 0 #387796;
    transition: all 200ms linear;
}

.button__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}

.button svg{
    pointer-events: none;
}
